In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt

In [2]:
survey_data = pd.read_csv("../paper_replication_data/MichiganConsumerSurvey.csv")

/Users/drewkeller/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (13,15,16,18,32,34,36,37,41,45,46,55,71,83,84,86,87,90,91,92,96,98,100,101,103,104,105,106,107,108,109) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
len(survey_data)

307317

In [4]:
# date range
survey_data.YYYYMM.describe()

count    307317.000000
mean     199873.562911
std        1375.599800
min      197801.000000
25%      198605.000000
50%      199809.000000
75%      201106.000000
max      202210.000000
Name: YYYYMM, dtype: float64

In [5]:
# convert to YYYY-MM-DD for now
survey_data["DATE"] = pd.to_datetime(survey_data.YYYYMM, format="%Y%m").dt.strftime("%Y-%m-%d")

In [6]:
import data_merging

/Users/drewkeller/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3357: DtypeWarning: Columns (13,15,16,18,32,34,36,37,41,45,46,55,71,83,84,86,87,90,91,92,96,98,100,101,103,104,105,106,107,108,109) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):
/Users/drewkeller/opt/anaconda3/lib/python3.8/site-packages/openpyxl/worksheet/header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

In [11]:
base_data = data_merging.base_data
for i in data_merging.other_data:
    base_data = base_data.merge(i, how="left", on="DATE")

In [12]:
base_data

,CASEID,YYYYMM,YYYYQ,YYYY,ID,IDPREV,DATEPR,ICS,ICC,ICE,...,WT,DATE,FEDFUNDS,UNRATE,CPIAUCSL,CUSR0000SAD,SPCS10RSA,INFPGDP1YR,INFCPI1YR,INFCPI10YR
0,1,197801,19781,1978,1,,,76.71,116.23,51.32,...,0.00,1978-01-01,6.70,6.4,6.814310,4.444444,NaN,5.9044,NaN,NaN
1,2,197801,19781,1978,2,,,121.12,154.08,99.94,...,0.72,1978-01-01,6.70,6.4,6.814310,4.444444,NaN,5.9044,NaN,NaN
2,3,197801,19781,1978,3,,,2.70,2.70,2.70,...,1.03,1978-01-01,6.70,6.4,6.814310,4.444444,NaN,5.9044,NaN,NaN
3,4,197801,19781,1978,4,,,76.71,154.08,27.01,...,0.00,1978-01-01,6.70,6.4,6.814310,4.444444,NaN,5.9044,NaN,NaN
4,5,197801,19781,1978,5,,,121.12,116.23,124.25,...,0.93,1978-01-01,6.70,6.4,6.814310,4.444444,NaN,5.9044,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307312,307313,202210,20224,2022,2096,1091,202204,105.61,77.69,123.55,...,0.50,2022-10-01,3.08,3.7,7.763115,4.755809,NaN,2.9612,3.5003,2.95
307313,307314,202210,20224,2022,2097,1059,202204,16.80,2.00,26.31,...,0.75,2022-10-01,3.08,3.7,7.763115,4.755809,NaN,2.9612,3.5003,2.95
307314,307315,202210,20224,2022,2098,1148,202204,61.21,115.53,26.31,...,0.75,2022-10-01,3.08,3.7,7.763115,4.755809,NaN,2.9612,3.5003,2.95
307315,307316,202210,20224,2022,2099,1145,202204,105.61,153.38,74.93,...,1.25,2022-10-01,3.08,3.7,7.763115,4.755809,NaN,2.9612,3.5003,2.95
307316,307317,202210,20224,2022,2100,1109,202204,31.60,77.69,2.00,...,1.50,2022-10-01,3.08,3.7,7.763115,4.755809,NaN,2.9612,3.5003,2.95

In [2]:
from data_merging import base_data

/Users/drewkeller/opt/anaconda3/lib/python3.8/site-packages/openpyxl/worksheet/header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

In [4]:
base_data

,CASEID,YYYYMM,YYYYQ,YYYY,ID,IDPREV,DATEPR,ICS,ICC,ICE,...,WT,DATE,FEDFUNDS,UNRATE,CPIAUCSL,CUSR0000SAD,SPCS10RSA,INFPGDP1YR,INFCPI1YR,INFCPI10YR
0,1,197801,19781,1978,1,,,76.71,116.23,51.32,...,0.00,1978-01-01,6.70,6.4,6.814310,4.444444,NaN,5.9044,NaN,NaN
1,2,197801,19781,1978,2,,,121.12,154.08,99.94,...,0.72,1978-01-01,6.70,6.4,6.814310,4.444444,NaN,5.9044,NaN,NaN
2,3,197801,19781,1978,3,,,2.70,2.70,2.70,...,1.03,1978-01-01,6.70,6.4,6.814310,4.444444,NaN,5.9044,NaN,NaN
3,4,197801,19781,1978,4,,,76.71,154.08,27.01,...,0.00,1978-01-01,6.70,6.4,6.814310,4.444444,NaN,5.9044,NaN,NaN
4,5,197801,19781,1978,5,,,121.12,116.23,124.25,...,0.93,1978-01-01,6.70,6.4,6.814310,4.444444,NaN,5.9044,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307312,307313,202210,20224,2022,2096,1091,202204,105.61,77.69,123.55,...,0.50,2022-10-01,3.08,3.7,7.763115,4.755809,NaN,2.9612,3.5003,2.95
307313,307314,202210,20224,2022,2097,1059,202204,16.80,2.00,26.31,...,0.75,2022-10-01,3.08,3.7,7.763115,4.755809,NaN,2.9612,3.5003,2.95
307314,307315,202210,20224,2022,2098,1148,202204,61.21,115.53,26.31,...,0.75,2022-10-01,3.08,3.7,7.763115,4.755809,NaN,2.9612,3.5003,2.95
307315,307316,202210,20224,2022,2099,1145,202204,105.61,153.38,74.93,...,1.25,2022-10-01,3.08,3.7,7.763115,4.755809,NaN,2.9612,3.5003,2.95
307316,307317,202210,20224,2022,2100,1109,202204,31.60,77.69,2.00,...,1.50,2022-10-01,3.08,3.7,7.763115,4.755809,NaN,2.9612,3.5003,2.95